<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>处罚查询页面</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../../../h5-css3Demo/毕业预警页面%20-%20副本/css/staySchool.css"/>
	</head>
	<header>
			<nav class="common_title">
				<div class="logo">
					<img src="../../../../../../../../h5-css3Demo/毕业预警页面%20-%20副本/img/logo01.png"/>
					<h1>处罚查询</h1>
					<div class="fanhui">
						<input type="button"  value="返回" onclick="fanhui()"/>
					</div>
				</div>
				<!--<i class="iconfont icon-fanhui" onclick="javascript:history.back(-1)"></i>-->
			</nav>
	</header>
	<section class="ss">
		<div class="chufen" id="chuf">
			<div class="chufen_tim">
				时间：2016-11-26
			</div>
			<span >
				处罚：
			</span>
			<div class="chufen_neir">				
					x级（x）班xxx同学多次缺勤，属未经允许的旷课行为。
					鉴于该同学的行为严重违反了学校的校纪校规和“大学生日常行为规范”，为严肃校规校纪，警示他人。经学校研究决定，给予该生警告处分。望其他同学能引以为戒。特此通告。
			</div>	
			<span class="hegy">河南工程学院教务处</span>
		</div>
		<div class="chufen">
			<div class="chufen_tim">
				时间：2016-11-26
			</div>
			<span >
				处罚：
			</span>
			<div class="chufen_neir">				
					x级（x）班xxx同学多次缺勤，属未经允许的旷课行为。
					鉴于该同学的行为严重违反了学校的校纪校规和“大学生日常行为规范”，为严肃校规校纪，警示他人。经学校研究决定，给予该生警告处分。望其他同学能引以为戒。特此通告。
			</div>	
			<span class="hegy">河南工程学院教务处</span>
		</div>
	</section>
	<script type="text/javascript" src="js/staySchool.js">		
	</script>
	<body>
	</body>
</html>
