* {
    margin: 0;
    padding: 0;

}
.common_title>h1 {
    /*font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #f1f1f1;
    background-color: #016eff;
    position: absolute;*/

}
.common_title {
    height: 50px;
}
input {
    outline: none;
    border: 0px;
    height: 28px;
    display: inline-block;
    border-radius: 5px;

}

.l {
    background-color: #F1F1F1;
    font-size: 14px;
    margin-top: 33px;

}
.l div {
    padding: 10px;
    margin-bottom: 5px;
}

.butt,
.cod {
    text-align: center;
}

.butt input {
    height: 35px;
    width: 70%;
    background-color: #016eff;
    color:white;
    font-size: 16px;
}
* span {
    color: #111;
}
.clear {
    clear: both;
    position: relative;
}
.l a {
    display: inline-block;
    margin-top: 5px;
    margin-left: -88px;
}
i {
    margin-top: 6px;
}
.logo {
    height: 50px;
    position: relative;
    background-color: #016eff;
    width: 100%;
}
.logo img {
    height: 80%;
    margin-top: 8px;

}
.logo h1 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    color: #f1f1f1;
    position: absolute;
}
.logo input {
    display: inline-block;
    background-color: #016eff;
    position: absolute;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-left: 269px;
    margin-top: 10px;
    color: #f1f1f1;
    text-decoration: underline;
    font-size: 16px;
    border: 1px solid white;
}
.exit {
    text-align: center;
}
.exit input {
    margin-top: 50px;
    display: inline-block;
    width:70%;
    background-color: #016eff;
}
.reset {
    margin-top: 20px;
    text-align: center;
}
.reset a {
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    padding-right: 5px;
}
.reset a:first-child {
    border-right:1px solid gray;
}
html {
    height:100%;
    background-color: #f1f1f1;
}
body {
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 52px;
    position: relative;
}


