* {
	margin: 0;
	padding: 0;
}
.common_title {
	height: 50px;

}

.logo {
	height: 50px;
	position: relative;
	background-color: #016eff;
}
.logo img {
	position: absolute;
	height: 80%;
	margin-top: 8px;
}
.logo h1 {
	font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    color: #f1f1f1;
    position: absolute;	
}
.logo input {
	display: inline-block;
	background-color: #016eff;
	position: absolute;
	text-align: center;
	height: 26px;
	width: 59px;
	margin-left: 80%;
	margin-top: 13px;
	color: #f1f1f1;
	font-size: 16px;
	/*border: 1px solid white;*/
}
.change div {
	padding: 10px;
	margin-bottom: 5px;

}
.ss  {
	background-color: #F1F1F1;
	font-size: 14px;
	
}
.change div {
	text-align: center;
}
span {
	text-align: right;
	display: inline-block;
	width:66px;
}
input {
	outline: none;
	border: 0px;
	height: 28px;
	display: inline-block;
	border-radius: 5px;
	width:231px;
}

.submit {
	position: relative;
	text-align: center;
}
.submit input:first-child {
	background-color: #016eff;
	float: left;
	width:125px;
	margin-left: -35%;
	margin-top: 50px;
	position:absolute;
}
.submit input:last-child {
	background-color: #016eff;	
	width:125px;
	margin-left: 5%;
	margin-top: 50px;
	position: absolute;
}
html {
	height:100%;
	background-color: white;
}
body {
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 52px;
}
.chufen {
/*	margin-top: 5px;	*/
	background-color: #efe6f9;
	border-radius: 10px;
	border-bottom: 20px solid white;
}
.chufen_tim {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
    border-bottom: 2px solid gray;
}
.chufen span {
	width: 96%;
	display: block;
	font-size: 16px;
	color: red;
	padding-top: 10px;
	text-align: left;
	padding-left: 10px;

}

.chufen_neir {
	display: block;
	text-indent: 2em;
	width: 80%;
	border-radius: 5px;
	margin: 0 auto;
	line-height: 35px;
}
.chufen span.hegy {
	text-align: right;
	width:90%;
	margin-top: 10px;
	padding-bottom: 20px;
}

